<!DOCTYPE html>
<html lang="en">
<head>
<% include partials/head %> 
</head>
<body>
<%if (login) { %>
  <% include partials/menu-login %>
<% } else { %>
  <% include partials/menu %>
<% } %>
  <div class="container-fluid text-center">
    <%if (login) { %>
      <h3>Welcome, <%=user.name%></h3><br>
    <% } else { %>
      <h3>Hello</h3>
    <% } %>
  </div>
  <div class="container text-center">  
  <div class="row">
    <div class="col-sm-4">
      <%if (login) { %>
        <p><%=user.name%></p>
      <% } else { %>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <% } %>
    </div>
    <div class="col-sm-4"> 
      <div class="card">
        <div class="card-body">Basic card</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
</div>
</body>
<% include partials/script %>
</html>